* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Courier;
	font-weight: bold;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 1) 100%), url('https://raw.githubusercontent.com/augustnejudne/drumkit/master/assets/images/main-bg.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	overflow-x: hidden;
}

input {
	transform: translateX(-500px);
}

#container {
	max-width: 800px;
	margin: 200px auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.box {
	height: 80px;
	width: 80px;
	background-color: rgba( 150, 150, 150, 0.7);
	border: 1px solid #333;
	border-radius: 5px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 1);
	margin: 20px;
	font-size: 30px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	transition: all .07s;
}

.playing {
	transform: scale(1.1);
	border: 2px solid yellow;
	box-shadow: 0 5px 20px 0 rgba(255, 255, 100, 1);
}

.sound {
	text-align: center;
	font-size: 15px;
	color: #dddd00;
}